rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Is the user signed-in using basic authentication?
    function isSignedIn() {
      return request.auth != null;
    }

    // Is the signed-in user a valid App user?
    // Has a custom claims "account_level" value: 1=admin, 2=user
    function isValidUser() {
      return isSignedIn() && request.auth.token.account_level != null
    }

    // Does the signed-in user's auth uid match the requested userId?
    function isAccountOwner(userId) {
      return request.auth.uid == userId;
    }

    // FILES --------------------------------------------------------

    // Checks if the File type supported
    function supportedFileType (requestData) {
      let fileTypes = [
        'application/pdf',
        'application/vnd.ms-excel',
        'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
        'application/msword',
        'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
        'application/vnd.ms-powerpoint',
        'application/vnd.openxmlformats-officedocument.presentationml.presentation',
        'application/vnd.oasis.opendocument.text',
        'application/vnd.oasis.opendocument.spreadsheet',
        'application/vnd.oasis.opendocument.presentation',
        'text/plain',
        'application/json',
        'application/geo+json',
        'image/bmp',
        'image/jpeg',
        'image/jpg',
        'image/png',
        'image/gif',
        'image/svg+xml',
        'image/webp',
        'application/vnd.rar',
        'application/zip'
      ];

      return requestData.contentType in fileTypes;
    }

    // Checks if the Firestore metadata name is valid
    function validFileName (requestData) {
      return
        // Firestore metadata name is less than 100 characters
        requestData.name.size() < 100
        // Firestore metadata name follows the pattern: "users/{userId}/{docId}_file"
        && (requestData.name.matches('users/.*/.*_file')
        // Firestore metadata name follows the pattern: "users/{userId}/{docId}_thumbnail"
          || requestData.name.matches('users/.*/.*_thumbnail'));
    }

    // Only allow uploads of any file that's less than 8MB
    function validFileSize (requestData) {
      return requestData.size < 8 * 1024 * 1024;
    }

    // FILES matching rules  --------------------------------------------------------

    match /{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }

		// Authenticated users can read, create and update only their own user files
    match /users/{userId}/{allPaths=**}  {
      allow read: if isValidUser() && isAccountOwner(userId);
      allow create, update: if isValidUser() && isAccountOwner(userId)
        && validFileSize(request.resource)
        && supportedFileType(request.resource)
        && validFileName(request.resource);
      allow delete: if isValidUser() && isAccountOwner(userId);
    }
  }
}
